/* color links #1B4079 */

/*
body{
    box-sizing: border-box;
} */


/* FORMATOS TEXTOS */

h1{
    font-family: "Changa One";
    font-size: 2.5rem;
}

h2, h3{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

h4, p{
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
}

/* HEADER + FOOTER */

header, footer{
    background-color: #4D7C8A;
    height: 60px;
    width: 100%;
    color: white;
}

header{
    position: fixed;
    top: 0;
}

footer{
    position: fixed;
    bottom: 0;
}

.contHeader, .contFooter{
    margin-inline: 10%;
    display: flex;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.headerMenu{
    display: flex;
    gap: 20px;
}

.menuItem, a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.headerButtons{
    display: flex;
    align-content: center;
    cursor: pointer;
    gap: 20px;
}

/* SECCIÓN PRINCIPAL */

.contProducts{
    margin-inline: 20%;
    margin-block: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* PILLS */

.contPill{
    width: 25%;
    background-color: #f5f5f5;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}

.imgFormat{
    width: 100%;
}

.btnAddToCart{
    background-color: #4D7C8A;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: #4D7C8A solid 2px;
    border-radius: 5px;
}

.btnAddToCart:hover{
    cursor: pointer;
    background-color: #f5f5f5;
    color: #4D7C8A;
}

/* CARRITO */

.contShoppingCart{
    width: 40vw;
    background-color: #4D7C8A;
    color: white;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    margin-inline: 10%;
    position: fixed;
    right: 0;
    transition: 1s;
}

.hidden{
    display: none;
}

table{
    background-color: #f5f5f5;
    border-radius: 5px;
}

.cellFormat{
    width: 15%;
    text-align: left;
}

.mainRow{
    background-color: #f5f5f5;
    color: #4D7C8A;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    font-weight: bold;
}

.rowFormat{
    background-color: #f5f5f5;
    color: #4D7C8A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.fa-minus {
    border: none;
    background-color: #dedede;
}

.fa-minus:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.fa-plus{
    border: none;
    background-color: #dedede;
}

.fa-plus:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.btnCheckout{
    background-color: #f5f5f5;
    color:#4D7C8A;
    padding: 5px;
    font-weight: bold;
    border: #f5f5f5 solid 2px;
    border-radius: 5px;
}

.btnCheckout:hover{
    cursor: pointer;
    background-color: #4D7C8A;
    color: white;
    border: #f5f5f5 solid 2px;
}

/* MEDIA QUERIES */

/* móviles */

@media screen and (max-width: 600px) {

  footer{
    position: static;
  }

  .headerMenu{
    display: none;
  }

  .contShoppingCart{
    width: 80vw;
  }

  .contPill {
    width: 100%;
  }

  .contProducts{
    margin-inline: 10%;
  }

}




