/* ESTILOS TEXTOS */

h1{
    font-family: "Changa One";
    font-size: 2.5rem;
}

h2, h3{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

h4, p{
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
}

/* HEADER + FOOTER */

header, footer{
    background-color: #4D7C8A;
    height: 60px;
    width: 100%;
    color: white;
    z-index: 1000;
}

header{
    position: fixed;
    top: 0;
}

footer{
    position: fixed;
    bottom: 0;
}

.cont-header, .cont-footer{
    margin-inline: 10%;
    display: flex;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-menu{
    display: flex;
    gap: 20px;
}

.menu-item, a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover, .menu-item:hover {
    color: #dedede;
}

i:hover{
    color: #dedede;
}

.header-buttons{
    display: flex;
    align-content: center;
    cursor: pointer;
    gap: 20px;
}

/* SECCIÓN PRINCIPAL */

.cont-products{
    margin-inline: 15%;
    margin-top: 120px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;
}

/* PILLS */

.cont-pill{
    width: 25%;
    background-color: #f5f5f5;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

.cont-pill:hover {
    transform: translateY(-10px);
}

.img-format{
    width: 100%;
    border-radius: 8px;
}

.btn-addtocart{
    background-color: #4D7C8A;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: #4D7C8A solid 2px;
    border-radius: 5px;
}

.btn-addtocart:hover{
    cursor: pointer;
    background-color: #f5f5f5;
    color: #4D7C8A;
}

/* CARRITO */

.cont-shoppingcart{
    width: 40vw;
    background-color: #4D7C8A;
    color: white;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    margin-inline: 10%;
    position: fixed;
    right: 0;
    top: 10vh;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: all 0.3s ease;
}

.hide{
    display: none;
}

table{
    background-color: #f5f5f5;
    border-radius: 5px;
}

.cell-format{
    width: 15%;
    text-align: left;
}

.main-row{
    background-color: #f5f5f5;
    color: #4D7C8A;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    font-weight: bold;
}

.row-format{
    background-color: #f5f5f5;
    color: #4D7C8A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.fa-minus, .fa-plus {
    border: none;
    background-color: #dedede;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s ease;
}

.fa-minus:hover, .fa-plus:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.btn-checkout{
    background-color: #f5f5f5;
    color:#4D7C8A;
    padding: 5px;
    font-weight: bold;
    border: #f5f5f5 solid 2px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-checkout:hover{
    cursor: pointer;
    background-color: #4D7C8A;
    color: white;
    border: #f5f5f5 solid 2px;
}

/* MEDIA QUERIES */

/* smartphones */

@media screen and (max-width: 600px) {

  footer{
    position: static;
  }

  .header-menu{
    display: none;
  }

  .cont-shoppingcart{
    width: 80vw;
  }

  .cont-pill {
    width: 100%;
  }

  .cont-products{
    margin-inline: 10%;
  }

}

/* ipads */

@media screen and (min-width: 600px) and (max-width: 992px) {
    
    footer{
        position: static;
      }
    
      .header-menu{
        display: none;
      }
    
      .cont-shoppingcart{
        width: 80vw;
      }
    
      .cont-pill {
        width: 40%;
      }
    
      .cont-products{
        margin-inline: 10%;
      }
}
